/.idea
/.vscode
/.fleet
/.nova
/.zed
/.phpactor.json
/.phpunit.cache
/.phpunit.result.cache

/node_modules
/vendor
/auth.json

/public/build
/public/hot
/public/storage
/public/vendor

/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/pail
/storage/*.key

/.env
/.env.backup
/.env.production
/.env.*.encrypt

Homestead.json
Homestead.yaml

.DS_Store
Thumbs.db

*.log
npm-debug.log
yarn-error.log

/coverage
.php-cs-fixer.cache
